<div class="footer">
   <a href="https://github.com/gioleon" target="_blank">
    <img src="   https://cdn-icons-png.flaticon.com/512/733/733553.png " alt="github" class="footer-img">
   </a>
   <a href="https://www.linkedin.com/in/giovannileonp/" target="_blank">
    <img src="   https://cdn-icons-png.flaticon.com/512/3536/3536505.png " alt="linkedIn" class="footer-img">
   </a>
   <!-- <a href="">
    <img src="https://cdn-icons-png.flaticon.com/512/220/220375.png" alt="" class="footer-img">
   </a> -->
   <a href="mailto: giovannileon2017@gmail.com" target="_blank">
    <img src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" alt="email" class="footer-img">
   </a>
</div>
 
